<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Friends</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1>Hello, {{ user.alias }}!</h1>
    <a href='/logout'>Logout</a>
    <h3>Here is the list of your friends:</h3>
    <table>
      <tr>
        <th>Alias</th>
        <th>Action</th>
      </tr>
      {% for friend in myfriends %}
      <tr>
        <td>{{ friend.alias }}</td>
        <td><a href='/user/{{ friend.id }}'>View Profile</a>   <a href="removefriend/{{ friend.id }}">Remove as friend</a></td>
      </tr>
      {% endfor %}
    </table>
    <h3>Other Users not on your friend's list:</h3>
    <table>
      <tr>
        <th>Alias</th>
        <th>Action</th>
      </tr>
    </tr>
    {% for friend in others %}
    <tr>
      <td><a href='/user/{{ friend.id }}'>{{ friend.alias }}</a></td>
      <form action='/addfriend/{{ friend.id }}' method="POST">
      {% csrf_token %}
      <td><button name="add_friend">Add as Friend</button></td>
      </form>
    </tr>
    {% endfor %}
    </table>
  </body>
</html>
